<% provide(:title, 'Thanks') %>
<div id="sequence">
  <h1>Gracias por contactarnos</h1>
  <p class="thanks">Te vamos a mantener informado sobre todas las novedades de Quanthica
    <%= image_tag "icon04.png", alt: "Plataforma de trading algorítmico", class: "thanksIcon" %>
  </p>
</div>
