<% provide(:title, 'Home') %>

<div class="content">
    <div class="sequence-theme">
      <div id="sequence">
        <ul class="sequence-canvas">
          <li class="animate-in">
            <h2 class="title">Ideas</h2>
            <%= image_tag "icon01.png", alt: "Ideas", class: "model" %>
          </li>
          <li>
            <h2 class="title">Algoritmos</h2>
            <%= image_tag "icon02.png", alt: "Algoritmos", class: "model" %>
          </li>
          <li>
            <h2 class="title">Ejecuci&oacute;n en el mercado</h2>
            <%= image_tag "icon03.png", alt: "Ejecución en el mercado", class: "model" %>
          </li>
          <li>
            <h2 class="title">Plataforma de trading algor&iacute;tmico</h2>
            <%= image_tag "icon04.png", alt: "Plataforma de trading algorítmico", class: "model" %>
          </li>                    
        </ul>
      </div>
    </div>
    <div class="contact">
      <p>Dejá tu correo y sé el primero en enterarte</p>
      <%= form_tag(register_email_path, id: "correoForm", name: "correoForm") do %>
        <%= text_field_tag :email, nil, name: "correo", placeholder: "EMAIL", id: "correo" %>
        <%= button_tag "ENVIAR", class: "sendMail" %>
      <% end %>
    </div>
</div>
