<p>
  <strong>User:</strong>
  <%= @algorithm.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @algorithm.name %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @algorithm.approved %>
</p>

<%= link_to 'Edit', edit_algorithm_path(@algorithm) %> |
<%= link_to 'Back', algorithms_path %>
