<%= form_for(@user_algorithm_subscription) do |f| %>
  <%= render 'shared/form_error_message_listing', object: f.object %>

  <% if current_user.has_role? :admin %>
    <div class="field">
      <%= f.label :user_id %><br>
      <%= f.collection_select :user_id, User.order('email ASC'), :id, :email, :include_blank => true %>
    </div>
  <% else %>  
    <%= hidden_field_tag "user_algorithm_subscription[user_id]", current_user.id %>
  <% end %>
  <div class="field">
    <%= f.label :algorithm_id %><br>
    <%= f.collection_select :algorithm_id, Algorithm.order('name ASC'), :id, :name, :include_blank => true %>
  </div>
  <% if current_user.has_role? :admin %>
    <div class="field">
      <%= f.label :approved %><br>
      <%= f.check_box :approved %>
    </div>
  <% end %> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
