<h1>Listing user_algorithm_subscriptions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Algorithm</th>
      <th>Approved</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_algorithm_subscriptions.each do |user_algorithm_subscription| %>
      <tr>
        <td><%= user_algorithm_subscription.user.profile.full_name %></td>
        <td><%= user_algorithm_subscription.algorithm.name %></td>
        <td><%= user_algorithm_subscription.approved %></td>
        <td><%= link_to 'Show', user_algorithm_subscription %></td>
        <td><%= link_to 'Edit', edit_user_algorithm_subscription_path(user_algorithm_subscription) %></td>
        <td><%= link_to 'Destroy', user_algorithm_subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User algorithm subscription', new_user_algorithm_subscription_path %>
