<p>
  <strong>User:</strong>
  <%= @user_algorithm_subscription.user.profile.full_name %>
</p>

<p>
  <strong>Algorithm:</strong>
  <%= @user_algorithm_subscription.algorithm.name %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @user_algorithm_subscription.approved %>
</p>

<%= link_to 'Edit', edit_user_algorithm_subscription_path(@user_algorithm_subscription) %> |
<%= link_to 'Back', user_algorithm_subscriptions_path %>
