<%= form_for(@api_call) do |f| %>
  <% if @api_call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@api_call.errors.count, "error") %> prohibited this api_call from being saved:</h2>

      <ul>
      <% @api_call.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :ip %><br>
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :http_verb %><br>
    <%= f.text_field :http_verb %>
  </div>
  <div class="field">
    <%= f.label :api_version %><br>
    <%= f.text_field :api_version %>
  </div>
  <div class="field">
    <%= f.label :path %><br>
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :params %><br>
    <%= f.text_field :params %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
