<h1>Listing api_calls</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Ip</th>
      <th>Http verb</th>
      <th>Api version</th>
      <th>Path</th>
      <th>Params</th>
      <th>Created at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @api_calls.each do |api_call| %>
      <tr>
        <td><%= api_call.user_id %></td>
        <td><%= api_call.ip %></td>
        <td><%= api_call.http_verb %></td>
        <td><%= api_call.api_version %></td>
        <td><%= api_call.path %></td>
        <td><%= api_call.params %></td>
        <td><%= api_call.created_at.strftime('%Y-%m-%d %H:%M:%S.%L') %></td>
        <td><%= link_to 'Show', api_call %></td>
        <td><%= link_to 'Destroy', api_call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
