<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @api_call.user_id %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @api_call.ip %>
</p>

<p>
  <strong>Http verb:</strong>
  <%= @api_call.http_verb %>
</p>

<p>
  <strong>Api version:</strong>
  <%= @api_call.api_version %>
</p>

<p>
  <strong>Path:</strong>
  <%= @api_call.path %>
</p>

<p>
  <strong>Params:</strong>
  <%= @api_call.params %>
</p>

<%= link_to 'Back', api_calls_path %>
