<%= form_for(@market) do |f| %>
  <% if @market.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@market.errors.count, "error") %> prohibited this market from being saved:</h2>

      <ul>
      <% @market.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ip %><br>
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :port %><br>
    <%= f.number_field :port %>
  </div>
  <div class="field">
    <%= f.label :fix_HeartBtInt %><br>
    <%= f.number_field :fix_HeartBtInt %>
  </div>
  <div class="field">
    <%= f.label :fix_BeginString %><br>
    <%= f.text_field :fix_BeginString %>
  </div>
  <div class="field">
    <%= f.label :fix_TargetCompID %><br>
    <%= f.text_field :fix_TargetCompID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
