<h1>Listing markets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ip</th>
      <th>Port</th>
      <th>HeartBtInt</th>
      <th>BeginString</th>
      <th>TargetCompID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @markets.each do |market| %>
      <tr>
        <td><%= market.name %></td>
        <td><%= market.ip %></td>
        <td><%= market.port %></td>
        <td><%= market.fix_HeartBtInt %></td>
        <td><%= market.fix_BeginString %></td>
        <td><%= market.fix_TargetCompID %></td>
        <td><%= link_to 'Show', market %></td>
        <td><%= link_to 'Edit', edit_market_path(market) %></td>
        <td><%= link_to 'Destroy', market, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Market', new_market_path %>
