<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @market.name %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @market.ip %>
</p>

<p>
  <strong>Port:</strong>
  <%= @market.port %>
</p>

<p>
  <strong>Fix heartbtint:</strong>
  <%= @market.fix_HeartBtInt %>
</p>

<p>
  <strong>Fix beginstring:</strong>
  <%= @market.fix_BeginString %>
</p>

<p>
  <strong>Fix targetcompid:</strong>
  <%= @market.fix_TargetCompID %>
</p>

<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
