* {margin: 0;padding: 0}
h1, h2, h3, h4, h5, h6, pre, 
blockquote, label, ul, ol, dl, fieldset, address {margin: .25em 0}
ul, ol, dl {padding-left:0;list-style: square}
form label {cursor: pointer}
fieldset {border: none}
abbr,acronym {border:none}
abbr[title],acronym[title] {border-bottom: 1px dotted #666;cursor: help}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none}
img {border: none}
p {margin: 12px 0}
a {color: #5EC24E;text-decoration: none}

/* HEADER */
.header {padding:12px 0;width:100%;background:#f4f4f4;text-align:center}
/* END HEADER */

/* MAIN */
body {background: #fff;color : #333;font: 0.7em "Arial", lucida, arial, helvetica, sans-serif;line-height: 1;margin: 0;padding: 0}

/* THEME STYLES */
.sequence-theme {background: #fff}
#sequence {margin: 0 auto;position: relative;overflow: hidden;width: 100%;max-width: 1280px;background: #fff;font-size: 0.625em;margin: 0 auto;position: relative;height: 180px}
#sequence > .sequence-canvas {height: 100%;width: 100%; }
#sequence > .sequence-canvas > li {position: absolute;width: 100%;height: 100%;z-index: 1;top: -50%}
#sequence > .sequence-canvas > li img {height: 96%}
#sequence > .sequence-canvas li > * {position: absolute;-webkit-transition-property: top, opacity;-moz-transition-property: top, opacity;-ms-transition-property: top, opacity;-o-transition-property: top, opacity;transition-property: top, opacity; }
h1, h2 {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif}
h1 {font-size:3em;color:#eb6221;padding: 20px 0 6px;text-align:center}
p.thanks {font-size:1.75em;text-align:center}
p.thanks img {display:block;clear:both;margin:12px auto}
.title {color:#eb6221;font-size: 2.5em;width: 100%;opacity: 0;top: 50%;z-index: 50;text-align:center}
.animate-in .title {top: 60%;opacity: 1;-webkit-transition-duration: 0.5s;-moz-transition-duration: 0.5s;-ms-transition-duration: 0.5s;-o-transition-duration: 0.5s;transition-duration: 0.5s}
.animate-out .title {top: 30%;opacity: 0;-webkit-transition-duration: 0.5s;-moz-transition-duration: 0.5s;-ms-transition-duration: 0.5s;-o-transition-duration: 0.5s;transition-duration: 0.5s}
.model {top: 120%;left:43%;opacity: 0;position: relative;height: auto !important;max-height: 568px !important;width:14%}
.animate-in .model {top: 80%;opacity: 1;-webkit-transition-duration: 1s;-moz-transition-duration: 1s;-ms-transition-duration: 1s;-o-transition-duration: 1s;transition-duration: 1s}
.animate-out .model {top: 150%;opacity: 0;-webkit-transition-duration: 0.5s;-moz-transition-duration: 0.5s;-ms-transition-duration: 0.5s;-o-transition-duration: 0.5s;transition-duration: 0.5s}

@media (min-width: 768px) {
#sequence {height:220px}
.title {font-size: 3em}
}

@media (min-width: 992px) {
#sequence {height:29px}
.title {font-size: 3.5em}
}

@media (min-width: 1200px) {
#sequence {height:340px}
.title {font-size: 4em}
}

.contact {width:100%;text-align:center;font-size:1.2em}
.contact input#correo {border:1px solid #ccc;border-radius:4px 0 0 4px;padding:6px;width:20%;min-width:140px;height:26px}
.contact button {background:#eb6221;color:#fff;font-weight:bold;padding:6px 18px;border:none;border-radius:0 4px 4px 0;margin-left:-6px;height:40px;cursor:pointer}
/* END MAIN */

/* FOOTER */
.footer {background:#f4f4f4;width:100%;padding:1.5% 0;position:fixed;bottom:0;text-align:center}
/* END FOOTER */

/* MESSAGES */
.alert {font-size:1.75em;text-align:center;background:#ff5555}