<%= form_for(@broker) do |f| %>
  <%= render 'shared/form_error_message_listing', object: f.object %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :market_username %><br>
    <%= f.text_field :market_username %>
  </div>
  <div class="field">
    <%= f.label :market_password_digest %><br>
    <%= text_field_tag 'password_changed' %>
    <%= f.hidden_field :market_password_digest %>
  </div>
  <div class="field">
    <%= f.label :market_id %><br>
    <%= f.collection_select :market_id, Market.order('name ASC'), :id, :name, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :fix_SenderCompID %><br>
    <%= f.text_field :fix_SenderCompID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
