<h1>Listing brokers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Market username</th>
      <th>Market</th>
      <th>SenderCompID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @brokers.each do |broker| %>
      <tr>
        <td><%= broker.name %></td>
        <td><%= broker.email %></td>
        <td><%= broker.market_username %></td>
        <td><%= broker.market.name unless broker.market_id.nil? %></td>
        <td><%= broker.fix_SenderCompID %></td>
        <td><%= link_to 'Show', broker %></td>
        <td><%= link_to 'Edit', edit_broker_path(broker) %></td>
        <td><%= link_to 'Destroy', broker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Broker', new_broker_path %>
