<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @broker.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @broker.email %>
</p>

<p>
  <strong>Market username:</strong>
  <%= @broker.market_username %>
</p>

<p>
  <strong>Market password digest:</strong>
  <%= @broker.market_password_digest %>
</p>

<p>
  <strong>Market:</strong>
  <%= @broker.market.name unless @broker.market_id.nil? %>
</p>

<p>
  <strong>Fix sendercompid:</strong>
  <%= @broker.fix_SenderCompID %>
</p>

<%= link_to 'Edit', edit_broker_path(@broker) %> |
<%= link_to 'Back', brokers_path %>
