<header>
  <div class="header">
    <%= image_tag "logo.png", alt: "quanthica" %>
    
    <% if user_signed_in? %>
      <% if can? :manage, User %> <%= link_to "Users", users_path %> | <% end %>
      <% if can? :manage, Role %> <%= link_to "Roles", roles_path %> | <% end %>
      <% if can? :manage, Profile %> <%= link_to "Profiles", profiles_path %> | <% end %>
      <% if can? :manage, Algorithm %> <%= link_to "Algorithms", algorithms_path %> | <% end %>
      <% if can? :manage, Market %> <%= link_to "Markets", markets_path %> | <% end %>
      <% if can? :manage, Broker %> <%= link_to "Brokers", brokers_path %> | <% end %>
      <% if can? :manage, ApiCall %> <%= link_to "Api calls", api_calls_path %> | <% end %>
      <% if can? :manage, UserAlgorithmSubscription %> <%= link_to "Algorithm subscription", user_algorithm_subscriptions_path %> | <% end %>
      <%= link_to "Edit Profile", edit_profile_path(current_user.profile) %> |
      <%= link_to "Edit account", edit_user_registration_path %> |
      <%= current_user.profile.full_name %> (<%= link_to "Sign out", destroy_user_session_path, :method=>'delete' %>)
    <% else %>
      <%= link_to "Sign in", new_user_session_path %> |
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>

  </div>
</header>
